{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "rules": {
    // Strict mode
    "strict": [2, "never"],

    // Code style
    "indent": [2, 2],
    "quotes": [2, "single"],
    "no-unused-vars": 1,
    "no-undef": 1,
    "object-curly-spacing": [2, "always"]
  }
}
